@model LauroCRUD.Models.Pessoa

@{
    ViewBag.Title = "DetalhePessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-2 shadow p-3 mb-5 bg-white rounded">
    <h3 class="text-center">Detalhes do Usuário</h3>
</div>

<div>
    <div class="card" style="width: 100%">
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    Nome Completo:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nome)
                </dd>

                <dt>
                    Data de Nascimento:
                </dt>

                <dd>
                    @Model.data.ToShortDateString()
                </dd>

                <dt>
                    Email:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                    Celular:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.celular)
                </dd>

                <dt>
                    CPF:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cpf)
                </dd>

                <dt>
                    Cargo:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cargo.nome)
                </dd>

            </dl>
            <div class="container">
                <div class="row">
                    <div class="form-group">
                        <div class="col col-md-2">
                            <a href="@Url.Action("EditarPessoa", "Pessoa", new { id = Model.id })" class="btn btn-success"> Editar </a>
                        </div>
                    </div>
                    <div class="col col-md-10 text-right">
                        <a href="@Url.Action("ListarPessoa")" class="btn btn-danger">
                            Voltar
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



