@model LauroCRUD.Models.Pessoa

@{
    ViewBag.Title = "DetalhePessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetalhePessoa</h2>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Model.data.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargo.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditarPessoa", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
