@model IEnumerable<LauroCRUD.Models.Pessoa>


<a href="@Url.Action("CriarPessoa")" class="btn btn-primary">
    Criar Usuário
</a>


<table id="datatables" class=" display table-striped table table-sm" style="width:100%">
    <thead class="thead-dark text-center">
        <tr class="text-center">            
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>            
            <th scope="col">Email</th>
            <th scope="col">Celular</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @item.nome
            </td>
            <td>
                @item.cargo.nome
            </td>            
            <td>
                @item.email
            </td>
            <td>
                @item.celular
            </td>
            <td class="text-center">
                <a href="@Url.Action("EditarPessoa", "Pessoa", new { id = item.id })" class="btn" title="Editar" id="remo" onclick="myFunction('@item.id')"><i class="fa fa-edit text-danger" aria-hidden="true"></i></a>  
                <a href="@Url.Action("DetalhePessoa", "Pessoa", new { id = item.id })" class="btn" title="Detalhes" id="remo" onclick="myFunction('@item.id')"><i class="fa fa-eye text-danger" aria-hidden="true"></i></a> 
                <a href="#" class="btn" title="Remover" data-toggle="modal" data-target="#Modal" id="remo" onclick="myFunction('@item.id')"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
            </td>
        </tr>
    }
</table>


<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("RemoverPessoa", "Pessoa", FormMethod.Post))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Remover</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Deseja realmente remover?

                    <input type="hidden" id="pessoaId" name="id" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Remover" class="btn btn-danger">
                </div>
            </div>
        }
    </div>
</div>

<script>function myFunction(id) {
        $("#pessoaId").val(id);
    }</script>





